@model Bets.ViewModels.DashboardViewModel
@{ Layout = Url.Layout(""); }

@section ExternalsJS {

    @MvcHtmlString.Create(SquishIt.Framework.Bundle.JavaScript()
        .Add(Url.ScriptDev("pages/singlebet"))
        .Add(Url.ScriptDev("pages/matchesforround"))
        .Render("~/content/combined/combined-dashboard-#.min.js"))
}

@Html.Partial(Url.Template("MatchBet"))

<div class="clearfix">

    @if (ViewBag.TournamentEnded)
    {
        <p class="center-text"><a href="@Url.Action("Index","GlobalResults")" class="anchor">View Global Results</a></p>
    }

    <div id="main-container" class="clearfix">
        @{ Html.RenderAction("Index", "MatchesForCurrentRound"); }       
    </div>

    <input type="hidden" id="fld-max-bonus" value="@ViewBag.MaxBonusPerMatch" />
</div>
