<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="enableSimpleMembership" value="false"/>
  <add key="autoFormsAuthentication" value="false"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="LiveMode" value="false" />   <!-- if live mode, include minified css & js, etc. -->
  <add key="Version" value="1" />
  <add key="PlayerImageUrl" value="http://cache.images.globalsportsmedia.com/soccer/players/150x150/"/>
  <add key="TeamFlagUrl" value="content/plugins/flag-icon-css/flags/4x3/"/> <!-- use local images -->
  <add key="TeamLogoUrl" value="http://cache.images.globalsportsmedia.com/soccer/teams/150x150/"/>
  <add key="EnableTracing" value="true" />
</appSettings>