<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <clear />
  <add name="Bets" connectionString="Server={{Server}};Database={{Database}};Trusted_connection=True" providerName="System.Data.SqlClient" />
  <add name="BetsEntities" connectionString="metadata=res://*/Bets.csdl|res://*/Bets.ssdl|res://*/Bets.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server={{Server}};Database={{Database}};Trusted_connection=True;multipleactiveresultsets=True;App=Bets&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>