<?xml version="1.0" encoding="utf-8" ?>
<system.diagnostics>
    <trace autoflush="true" indentsize="4">
        <listeners>
            <add name="Diagnostics"
              type="Bets.Infrastructure.CustomTextWriterTraceListener, Bets"
              initializeData="App_Data\Tracing\tracing.log" />
            <remove name="Default" />
        </listeners>
    </trace>
</system.diagnostics>