@if (Request.IsAuthenticated)
{
    <ul>
        <li><a href="@Url.Action("LogOff", "Account")" class="grn">Log Off</a></li>
        @if (ViewBag.IsAdmin ?? false)
        {
            <li><a href="@Url.Action("Index", "Admin")" class="grn">Admin</a></li>
        }
        <li><a href="@Url.Action("Index", "Profile")" class="grn">Profile</a></li>
    </ul>
}