<html>
	<head>

		<style type="text/css">
		
			* {
				margin: 0;
				padding: 0;
				border: 0;
			}
			
			body {
				margin: 20px;
			}
			
			table {
				text-align: left;
				table-layout: fixed;
				border-collapse: collapse;
				border-spacing: 0;
				width: 500px;
				padding: 0;
				font-size: 13px;
				font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
			}
			
				tr {
					height: 40px;
				}
				
				th, td {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					line-height: 25px;
					padding: 10px 10px 9px;
					line-height: 18px;
					text-align: left;
				}
				
				td {
					vertical-align: top;
					border-top: 1px solid #DDD;
				}
				
				.col-Date {
					width: 135px;
				}
			
				.col-Flag {
					width: 30px;
				}
			
				.col-Match {
					width: 170px;
					text-align: center !important;
				}
				
				.col-Result {
					width: 50px;
				}
		
                .bonus-img {
                    width: 16px;
                    height: 16px;
                }
		</style>

	</head>
	<body>
		@RenderBody()
	</body>
</html>