<title>LynxBets</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">

<!-- iPhone -->
<link rel="apple-touch-icon" sizes="57x57" href="icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="icon-114x114.png" />
<link rel="apple-touch-icon" sizes="128x128" href="icon-128x128.png" />
<link rel="apple-touch-icon" sizes="144x144" href="icon-144x144.png" />

<!-- Android -->
<link rel="icon" sizes="192x192" href="icon-192x192.png">
<link rel="icon" sizes="128x128" href="icon-128x128.png">
<link rel="manifest" href="manifest.json">

<link rel="shortcut icon" href="@Url.ImgUrl("favicon.ico")">

