<script id="bet-template" type="text/x-jquery-tmpl"> 
    <tr class="bet-row">
		<td colspan="12">

            <div class="left">
                <input type="number" value="0" id="FirstTeamGoals" tabindex="1" />
                <span>&nbsp;-&nbsp;</span>
                <input type="number" value="0" id="SecondTeamGoals" tabindex="2" />
            </div>

            <div class="left">
                <div class="bonus-container" data-bind="visible: maxUserBonus() > 0 && maxBonusPerMatch > 1">
                    Bonus&nbsp;
                    <input type="button" value="-" class="btn btn-bonus" data-val="-1" />
                    <input type="number" value="0" id="Bonus" tabindex="3" />
                    <input type="button" value="+" class="btn btn-bonus" data-val="1" />
                    (max <span class="MaxUserBonus"></span>)
                </div>

                <div class="bonus-container" data-bind="visible: maxUserBonus() > 0 && maxBonusPerMatch == 1">
                    <div class="left">
                        <input type="number" value="0" id="Bonus" tabindex="3" data-bind="visible: false" />
                        <input type="button" class="btn-bonus-single" data-bind="css: { selected: matchViewModel.bonus() > 0 }" />
                    </div>
                    <div class="left">&nbsp;(bonus)</div>
                </div>
            </div>
		</td>
		<td class="cell-BetAction">
			<div><input type="button" value="Save" class="btn-save btn" /></div>
		</td>
	</tr>
</script>

