<div>
    @{ Html.RenderAction("Index", "WinnerResult"); }
</div>

<div>
    @{ Html.RenderAction("Index", "WinnerPoints"); }
</div>

<div>
    @{ Html.RenderAction("Index", "GoalscorerResult"); }
</div>

<div>
    @{ Html.RenderAction("Index", "GoalscorerPoints"); }
</div>
